/* Estilo global */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor principal */
.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #1e1e1e;
}

/* Estilo del título */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilo del contenedor del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilo del input de archivo */
.file-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #ffffff;
}

/* Grupo de botones para alinear en la misma línea */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Estilo del botón "Subir y convertir" */
.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Estilo del botón "Nuevo archivo" */
.clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #40e0d0; /* Aguamarina */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #34c8ba;
}

/* Estilo para el botón "Fragmentar Texto" */
.chunk-button {
  margin-top: 20px; /* Agregar margen superior para separar los botones */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* Estilo para el botón "Fragmentar Texto" inactivo */
.chunk-button.inactive {
  background-color: #444;
  color: #bbb;
  cursor: not-allowed;
  transition: none;
}

/* Estilo para el botón "Fragmentar Texto" activo */
.chunk-button.active {
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chunk-button.active:hover {
  background-color: #45a049;
}


/* Estilo del mensaje */
.message {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
}

/* Estilo del mensaje de carga */
.loading-message {
  margin-top: 20px;
  font-size: 18px;
  color: #f0ad4e; /* Color naranja para indicar carga */
  font-weight: bold;
}
